
/* CSS Document */


/*
  utiliser le jquery parallax



 */

/*
  config generale
*/
* {
 margin: 0;
 padding; 0;

}

html {
  font-size: 62.5%;
}



body {
  font-size: 1.5rem;
  
}

header, main, footer {
  max-width: 100%;
  margin: auto;
}

ul, li {
	list-style:none;
	display:inline-block;
	margin:.5rem;
}

a {
	text-decoration: none;
	color: white;
}

h2 {
  text-align: center;
}

section {
  height: 20rem;
}


/* fin confg generale */

/*
  config de la nav
 */
 
 header {
  position: relative;
 }

 nav {
  z-index: 2;
  text-align: center;

  min-width: 100%;
  margin: auto;
  position: fixed;
  background-color: black;
 
  color: white;
 }


/*
  config de l'image de background
*/

#picture, #image {
	width: 100%;
 
}

img {
  margin:auto;
	width: 99%;
  opacity: .5; 
 
}

