/* CSS Document */


/*
  utiliser le jquery parallax



 */

/*
  config generale
*/
* {
 margin: 0;
 padding; 0;

}

html {
  font-size: 62.5%;
}



body {
  font-size: 2rem;
  
}

header, main, footer {
  max-width: 100%;
  margin: auto;
}

ul, li {
	list-style:none;
	display:inline-block;
	margin:.5rem;
}

a {
	text-decoration: none;
	color: white;
}

h1 {
  padding-top: 3rem;
  text-align: center;
  font-size: 4rem;
  font-weight:bold;
}

h2 {
  font-size: 3rem;
  text-align: center;
  padding-top: 5rem;
}

section {
 /* height: 20rem;*/
}


/* fin confg generale */

/*
  config de la nav
 */
 
 header {
  position: relative;
  height: 4rem;
 }

 nav {
  z-index: 2;
  text-align: center;
  height: 4rem;
  min-width: 100%;
  margin: auto;
  position: fixed;
  background-color: black;
 
  color: white;
 }

 nav ul {
  display: none;
 }

 nav aside {
  text-align: right;
  padding-right: 2rem;
  font-size: 3rem;
  padding-top: 0.4rem;

 }

 a {
  font-size: 2rem;
 }


/*
  config de l'image de background et du titre
*/


#picture {
  margin: auto;
  padding:2rem;
	width: 100%;
  max-height: 50rem; /* defini la hauteur de la balise */
  background-image: url("images/Projet_pholio_fuji_(Mt_Mitsutoge)_1.jpg");
  background-repeat: no-repeat; /* annule toute repetition de l'image */
  background-size: 100%; /* definie sa largeur à 100% de la fenettre */
  background-position: center; /* place l'image par rapport à son centre */
 
}

#picture h2 {
  
  padding-bottom: 5rem;
}


/*
  Configuration de la section presentation
 */

 #presentation {
  background-color: black;
  color: white;
 }

 #presentation p {
  padding: 2rem 5rem 2rem 5rem;

 }




/*
  Configuration pour laptop et desktop
 */
@media screen and (min-width:720px ) {

    nav ul {
      display: initial;

    }

    nav aside {
      display: none;
    }

    a:hover {
      color:cyan;
    }


 
 /* fin de responsive design pour laptop et desktop */ 
}
